In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.529329 -1.073142  1.084931  0.975240
2013-01-02 -0.190367 -0.058995  1.785124 -1.392945
2013-01-03 -0.100425 -0.444855  0.933939  0.569302
2013-01-04 -0.929095 -0.528106  1.194242 -0.379145
2013-01-05  1.454884  0.520086 -1.009980  0.411375
2013-01-06  0.006713  0.439839  2.012648  0.473608

In [5]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [6]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df.head()

                   A         B         C         D
2013-01-01 -1.529329 -1.073142  1.084931  0.975240
2013-01-02 -0.190367 -0.058995  1.785124 -1.392945
2013-01-03 -0.100425 -0.444855  0.933939  0.569302
2013-01-04 -0.929095 -0.528106  1.194242 -0.379145
2013-01-05  1.454884  0.520086 -1.009980  0.411375

In [9]:
df.tail()

                   A         B         C         D
2013-01-02 -0.190367 -0.058995  1.785124 -1.392945
2013-01-03 -0.100425 -0.444855  0.933939  0.569302
2013-01-04 -0.929095 -0.528106  1.194242 -0.379145
2013-01-05  1.454884  0.520086 -1.009980  0.411375
2013-01-06  0.006713  0.439839  2.012648  0.473608

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [12]:
df.values

array([[-1.52932854, -1.07314235,  1.08493063,  0.97523961],
       [-0.1903669 , -0.05899519,  1.78512403, -1.39294529],
       [-0.10042489, -0.44485497,  0.93393891,  0.56930193],
       [-0.92909479, -0.52810568,  1.19424151, -0.37914467],
       [ 1.45488412,  0.52008628, -1.00997953,  0.41137468],
       [ 0.00671257,  0.43983944,  2.01264814,  0.47360805]])

In [13]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.214603 -0.190862  1.000151  0.109572
std    1.008840  0.612745  1.070626  0.857991
min   -1.529329 -1.073142 -1.009980 -1.392945
25%   -0.744413 -0.507293  0.971687 -0.181515
50%   -0.145396 -0.251925  1.139586  0.442491
75%   -0.020072  0.315131  1.637403  0.545378
max    1.454884  0.520086  2.012648  0.975240